<h1> This is foods </h1>
<form method="POST" action="/" class="form">
    <input type="text" name="ingredient" />
    <button type="submit">Submit</button>
</form>

<ul>
  <% @foods.each do |food| %>
    <li><%= food.name %></li>
  <% end %>
</ul>