<h1>This is <%=@food.name%></h1>

<% if @food.calories == nil%>
    <p> There is no calorie data for <%=@food.name %></p>
    <p> Would you like to enter calorie data? </p>
<% end %>
<p> Vegan: <%=@food.is_vegan%> </p>